DATABASE_URL=postgresql://postgres:postgres@postgres:5432/inventory_db
POSTGRES_DB=inventory_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
SECRET_KEY=supersecretkeydevelopmentonlydontuseinprod123!
